################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AhphOcelot/bin/Debug/netstandard2.0
/AhphOcelot/obj
/AuthPlatform.Gateway/bin/Debug/netcoreapp3.0
/AuthPlatform.Gateway/obj
/AuthPlatform.Model/bin/Debug/netstandard2.0
/AuthPlatform.Model/obj
/TestGateway/bin/Debug/netcoreapp3.0
/TestGateway/obj
